
% Save this as tutorial.tex for the lwarp package tutorial.

\documentclass{book}

\usepackage{iftex}

% --- LOAD FONT SELECTION AND ENCODING BEFORE LOADING LWARP ---

\ifPDFTeX
\usepackage{lmodern}            % pdflatex or dvi latex
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\else
\usepackage{fontspec}           % XeLaTeX or LuaLaTeX
\fi

% --- LWARP IS LOADED NEXT ---
\usepackage[
%   HomeHTMLFilename=index,     % Filename of the homepage.
%   HTMLFilename={node-},       % Filename prefix of other pages.
%   IndexLanguage=english,      % Language for xindy index, glossary.
%   latexmk,                    % Use latexmk to compile.
%   OSWindows,                  % Force Windows. (Usually automatic.)
%   mathjax,                    % Use MathJax to display math.
]{lwarp}
% \boolfalse{FileSectionNames}  % If false, numbers the files.

% --- LOAD PDFLATEX MATH FONTS HERE ---

% --- OTHER PACKAGES ARE LOADED AFTER LWARP ---
\usepackage{makeidx} \makeindex
\usepackage{xcolor}             % (Demonstration purposes only.)
\usepackage{hyperref,cleveref}  % LOAD THESE LAST!
\usepackage[autostyle]{csquotes}
\newcommand{\onlineCite}{[Online] Available: }	% Used in BIBLIOGRAPHY 

% --- LATEX AND HTML CUSTOMIZATION ---
\title{Stonk Research}
\author{davidli012345@gmail.com}
\setcounter{tocdepth}{2}        % Include subsections in the \TOC.
\setcounter{secnumdepth}{2}     % Number down to subsections.
\setcounter{FileDepth}{1}       % Split \HTML\ files at sections
\booltrue{CombineHigherDepths}  % Combine parts/chapters/sections
\setcounter{SideTOCDepth}{1}    % Include subsections in the side\TOC
\HTMLTitle{Stonk Research}       % Overrides \title for the web page.
\HTMLAuthor{David Li}        % Sets the HTML meta author tag.
\HTMLLanguage{en-US}            % Sets the HTML meta language.
\HTMLDescription{Publicly available stonk research from me.}% Sets the HTML meta description.
\HTMLFirstPageTop{David Li}
% \HTMLPageTop{\fbox{LOGO}}
\HTMLPageBottom{Contact: davidli012345@gmail.com - This is just my personal thoughts, all the reference I use should be cited.}
\CSSFilename{lwarp_sagebrush.css}

\usepackage{graphicx}

\usepackage{pgfplots}
\usepackage{pgfplotstable}
\pgfplotsset{compat=1.7}
\usepackage{tikz}
\usepackage{booktabs}
\usepackage{adjustbox}

\begin{document}

\maketitle                      % Or titlepage/titlingpage environment.

% An article abstract would go here.

 The reason I am using latex is to generate clean html documentation in lwarp with pdf support and citation + references. JupyterBook is a decent alternative.

\tableofcontents                % MUST BE BEFORE THE FIRST SECTION BREAK!
\listoffigures
\listoftables

{% for report in reports %}
  {% if report.chapter == 'report' %}
    \chapter{ {{ report.chapter }} }
  {% endif %}
  \subsection{ {{ report.report_date }} {{ report.report_type }} }
  {% for line in report.lines %}{{ line }}
  {% endfor %}
{% endfor %}

\begin{warpprint}   % For print output ...
\cleardoublepage    % ... a common method to place index entry into TOC.
\phantomsection
\addcontentsline{toc}{chapter}{\indexname}
\end{warpprint}
\ForceHTMLPage      % HTML index will be on its own page.
\ForceHTMLTOC       % HTML index will have its own toc entry.
\printindex

\begin{warpprint}   % For print output ...
\cleardoublepage    % ... a common method to place index entry into TOC.
\phantomsection
\end{warpprint}

% \glsaddall
% \printglossaries

\end{document}